@model List<Equipo>

@{
    Usuario user = Context.Session.GetObject<Usuario>("USUARIO");

    string controllerNewTeam = "Equipos";
    string actionNewTeam = "CrearEquipo";

    List<Jugador> jugadores = ViewData["JUGADORESUSUARIO"] as List<Jugador>;

}

@section CSSLinks{
    <link rel="stylesheet" href="~/css/menuequipo.css" asp-append-version="true" />
}

@section ZonaLogueo{
    <div class="user-section">
        <p>@user.Nombre</p>
        <a asp-controller="Usuarios" asp-action="CerrarSesion">Cerrar sesion</a>
    </div>
}

@section Scripts{
    <script src="~/js/menuequipo.js"></script>
    <script>
        $(function() {
            muestraOpcionesJug(1);
            esconderEquipos();
        });
    </script>
    
}

<div class="teamview-menu">

    <div class="team-section">
        @if (Model != null)
        {
            //Cambiar valor de equipo (TODO EL EQUIPO) - OPCIONAL
            <input type="hidden" id="equiposeleccionado" value="@Model[0].IdEquipo"/>
            <p>Selección de equipo</p>
            <select id="selectorequipo" onchange="esconderEquipos()">
                @foreach (Equipo equipo in Model)
                {
                    <option value="@equipo.IdEquipo">@equipo.Nombre</option>
                }
            </select>

            //Comprobar equipo seleccionado en jquery y cambiar contenido de dentro
            @foreach (Equipo equipo in Model)
            {
                <div class="image-team" id="teamimage-@equipo.IdEquipo">
                    <img src="@equipo.Imagen.Replace("~",string.Empty)" />
                </div>
                <div class="link-team-actions" id="teamaction-@equipo.IdEquipo">
                    <a asp-controller="Sesiones" asp-action="ListaSesiones" asp-route-idequipo="@equipo.IdEquipo" class="minibutton-teamview">SESIONES DE ENTRENAMIENTO</a>
                    <a asp-controller="Jugadores" asp-action="CrearJugador" asp-route-idequipo="@equipo.IdEquipo" class="minibutton-teamview">AÑADIR NUEVO JUGADOR</a>
                    <a asp-controller="Equipos" asp-action="CrearEquipo" class="minibutton-teamview">NUEVO EQUIPO</a>
                </div>
            }
            
        }
        else
        {
            <div class="newteam-container">
                <p class="info-newteam">PARA PODER USAR LA APLICACION NECESITAS REGISTRAR EQUIPOS</p>
                <p class="info-newteam">TODAVIA NO HAS CREADO NINGUN EQUIPO. PULSA PARA CREAR UN NUEVO EQUIPO</p>
                <button class="" onclick="location.href='@Url.Action(actionNewTeam, controllerNewTeam, new {})'">NUEVO EQUIPO</button>
            </div>   
        }
    </div>

    @if (Model != null)
    {
        <div class="player-section">
            <div class="border-section"></div>
            <div class="player-zone">
                <div class="player-goalkeeper">
                    <div class="title-position">PORTEROS</div>
                    <!--BUCLE CON TODOS LOS JUGADORES QUE SEAN PORTEROS-->
                    <div class="player" id="player1" onclick="muestraOpcionesJug(1)">Juanito Garcia Higuita</div>
                    <div class="options-player" id="optplayer1" style="display: none">
                        <button>VER GRAFICA</button>
                        <button>ELIMINAR JUGADOR</button>
                    </div>
                </div>
                <div class="player-defense">
                    <div class="title-position">DEFENSAS</div>
                    <!--BUCLE CON TODOS LOS JUGADORES QUE SEAN DEFENSAS-->
                </div>
                <div class="player-midfield">
                    <div class="title-position">MEDIOCENTROS</div>
                    <!--BUCLE CON TODOS LOS JUGADORES QUE SEAN MEDIOCENTROS-->
                </div>
                <div class="player-striker">
                    <div class="title-position">DELANTEROS</div>
                    <!--BUCLE CON TODOS LOS JUGADORES QUE SEAN DELANTEROS-->
                </div>
            </div>
            <div class="border-section"></div>
        </div>
    }

</div>

